*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.port{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(contact12.png);
    background-size: cover;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;   
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
    animation-name: side;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-delay: 0s;


}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
    
}
nav ul li a:hover{
    color: orange;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.pic{
    height: 100px;
    width: 200px;
    transition: 1s;
    filter: drop-shadow(0px 0px 5px gray);
    animation-name: side;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-delay: 0s;
}
.pic:hover{
    scale:110%;
    filter: drop-shadow(0px 0px 10px gray);
}
.plat{
    margin-left: 47%;
    margin-top: 15%;
    display: flex;
    
}
.plat a{
    color: black;
    padding: 16px;
    
}
.plat a svg{
    height: 40px;
    width: 40px;
    transition: 0.5s;
    animation-name: side;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-delay: 0s;
}
.plat a svg:hover{
    scale: 1.1;
}
.insta a svg:hover{
    color: red;
}
.twi a svg:hover{
    
    color: darkcyan;
}
.face a svg:hover{
    color: darkslateblue;
}
.link a svg:hover{
    color: midnightblue;
}
.cont h2{
    margin-left: 46%;
    margin-top: 1%;
    animation-name: side1;
    animation-iteration-count: 1;
    animation-duration: 0.8s;
    animation-delay: 0s;
}

   
@keyframes side{
    from
    {scale: 0;
        opacity: 1;}
    to{scale: 1;
        opacity: 1;}
}
@keyframes side1{
    from
    {scale: 1;
        opacity: 0;}
    to{scale: 1;
        opacity: 1;}
}